{{ page('module', cm.id, wwwroot ~ slug ~ path('wall', {id: wall.id})) }}
{{ css('/mod/communitywall/static/css/walls.css') }}
{{ jquery_ui() }}
{{ header()|raw }}
<div ng-app="wallsApp" ng-controller="notesCtrl" ng-cloak class="communitywall-container">

    <div>
        <h3>{{ instance_title }}</h3>
    </div>

    <div class="wall-messages">
        <div ng-show="total == 0"><strong>{{ trans('nonotes', plugin) }}</strong></div>
    </div>

    <div ng-class="{'communitywall-note-container': true, 'disabled': noteContainerDisabled}" communitywall-note-container ng-cloak>
        <view-note
            ng-repeat="note in notes"
            note="note"
            can-manage="canManage"
            closed="closed"
            editing-id="editingId"
            start-editing="startEditing"
            stop-editing="stopEditing"
            delete-note="deleteNote"
            save-changes="putNote"
            ng-class="{true: 'active', false: ''}[editingId == note.id]"
            ng-title="{true: '{{ trans('click_to_edit', plugin) }}', false: ''}[(note.is_owner && !closed) || canManage]"
            class="view-note"
            jqyoui-draggable
            data-jqyoui-options="{containment: 'parent'}"
            ng-style="{'z-index': $index}"
            data-drag="(note.is_owner && !closed) || canManage">
        </view-note>

        <add-note
            ng-cloak
            save-changes="postNote"
            stop-adding="stopAdding"
            adding-note="addingNote"
            ng-show="addingNote"
            class="add-note">
        </add-note>
    </div>

    <div class="main-buttons">
        <button ng-click="backToCommunityWalls()">{{ trans('backtocommunitywalls', plugin) }}</button>
        <button ng-click="addingNote = true;" ng-disabled="addingNote" ng-hide="isGuest || (closed && !canManage)">{{ trans('post_note', plugin) }}</button>
    </div>

</div>
<script>
    CONFIG = {
        baseurl: '{{ baseurl }}',
        api: '{{ api }}',
        instanceid: '{{ wall.instanceid }}',
        wallid: {{ wall.id}},
        canManage: {{ can_manage ? 'true' : 'false' }},
        closed: {{ instance.closed ? 'true' : 'false' }},
        isGuest: {{ is_guest ? 'true' : 'false' }},
        pollInterval: 60000,
        messages: {
            'confirmDeleteNote': '{{ trans('confirm_delete_note', plugin) }}'
        }
    };
</script>

{# begin footer #}
{% set footer_script %}
    <script>if (typeof define === 'function') { window.g_define = define; define = undefined; }</script> {# undefine define :) thereby hiding RequireJS from all footer scripts #}
    <script src="{{ bower_url }}angular/angular.min.js"></script>
    <script src="{{ bower_url }}jquery.ui.touch-punch.dk/jquery.ui.touch-punch.dk.js"></script>
    <script src="{{ bower_url }}angular-dragdrop/src/angular-dragdrop.min.js"></script>
    <script src="{{ bower_url }}angular-sanitize/angular-sanitize.min.js"></script>
    <script src="{{ wwwroot }}/mod/communitywall/static/js/build/communitywall.min.js"></script>
    <script>if (window.g_define) { define = window.g_define; delete window.g_define; }</script>
{% endset %}
{{ footer(footer_script)|raw }}
{# end footer #}
