{{ page('module', cm.id, wwwroot ~ slug ~ path('wall', {id: wall.id})) }}
{{ css('/mod/communitywall/static/css/walls.css') }}
{{ jquery_ui() }}
{{ header()|raw }}
<div ng-app="wallsApp" ng-controller="notesCtrl" ng-cloak class="communitywall-container">

    <div>
        <h3>{{ wall.title }} by {{ wall.userfullname }}</h3>
    </div>

    <div class="wall-messages">
        <div ng-show="total == 0"><strong>{{ trans('nonotes', plugin) }}</strong></div>
    </div>

    <div class="communitywall-note-container" communitywall-note-container ng-cloak>
        <view-note ng-repeat="note in notes"
                   note="note"
                   can-manage="canManage"
                   is-editing="editingId == note.id"
                   start-editing="startEditing(note)"
                   stop-editing="stopEditing()"
                   delete-note="deleteNote(note.id)"
                   save-changes="putNote(id, { note: note, xcoord: xcoord, ycoord: ycoord })"
                   ng-class="{true:'active',false:''}[editingId == note.id]"
                   ng-title="{true:'{{ trans('doubleclicktoedit', plugin) }}',false:''}[note.is_owner || canManage]"
                   class="view-note"
                   jqyoui-draggable
                   data-jqyoui-options="{ containment: 'parent' }"
                   data-drag="note.is_owner || canManage"></view-note>

        <add-note ng-cloak
                  note="note"
                  save-changes="postNote({note: note, xcoord: xcoord, ycoord: ycoord})"
                  adding-note="addingNote"
                  ng-show="addingNote"
                  class="add-note"></add-note>

        <div class="notice" ng-class="{true:'slideup',false:''}[slideUp]">
            <span>{{ trans('doubleclick_to_post', plugin) }}</span>
        </div>

    </div>

    <div class="main-buttons">
        <button ng-click="backToCommunityWalls()">{{ trans('backtocommunitywalls', plugin) }}</button>
    </div>

</div>
<script>
    CONFIG = {
        baseurl: '{{ baseurl }}',
        api: '{{ api }}',
        instanceid: '{{ wall.instanceid }}',
        wallid: {{ wall.id}},
        canManage: {{ can_manage ? 'true' : 'false' }},
        isGuest: {{ is_guest ? 'true' : 'false' }}
    };
</script>

{# begin footer #}
{% set footer_script %}
    <script>if (typeof define === 'function') { window.g_define = define; define = undefined; }</script> {# undefine define :) thereby hiding RequireJS from all footer scripts #}
    <script src="{{ bower_url }}angular/angular.min.js"></script>
    <script src="{{ bower_url }}jquery.ui.touch-punch.dk/jquery.ui.touch-punch.dk.js"></script>
    <script src="{{ bower_url }}angular-dragdrop/src/angular-dragdrop.min.js"></script>
    <script src="{{ bower_url }}angular-sanitize/angular-sanitize.min.js"></script>
    <script src="{{ wwwroot }}/mod/communitywall/static/js/build/communitywall.min.js"></script>
    <script>if (window.g_define) { define = window.g_define; delete window.g_define; }</script>
{% endset %}
{{ footer(footer_script)|raw }}
{# end footer #}
